.kontributet-service-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 80px;
  margin-left: 5%;
  margin-top: 15%;
}

.kontributet-section-title {
  margin-left: 6%;
  font-size: 24px;
  margin-bottom: -25px;
  font-weight: light;
}

.kontributet-options {
  display: flex;
  margin-bottom: -15px; 
  margin-left: 14%; 
  white-space: nowrap;
}

.kontributet-options label {
  margin-right: 10px;
  margin-top: -0.5%; 
}
.kontributet-options input[type="radio"] {
  margin-right: -2%;
  cursor: pointer;
}
.kontributet-search-container {
  display: flex;
  align-items: center;
}

.kontributet-search-container input[type="text"] {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10%;
}

.kontributet-search-container button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.kontributet-service-cards-container {
  display: flex;
  justify-content: center;
}

.kontributet-service-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.kontributet-service-card {
  width: calc(100% - 40px);
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffffce;
  color: #333;
  transition: all 0.3s ease-in-out; ;
}

.kontributet-service-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
}
.kontributet-card-content {
  display: flex;
  align-items: center;
  margin-left: 3%;
}
.kontributet-card-content h2{
  font-size: 20px;
  white-space: nowrap;
}

.kontributet-card-icon {
  font-size: 40px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out; 
}
.kontributet-card-icon:hover {
  transform: translateY(-5px); 
}
.kontributet-arrow {
  font-size: 40px;
  margin-left: auto;
}
