.granteSubvencione-service-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 80px;
    margin-left: 5%;
    margin-top: 10%;
  }
  
  .granteSubvencione-section-title {
    margin-left: 6%;
    font-size: 24px;
    margin-bottom: -25px;
    font-weight: light;
  }
  
  .granteSubvencione-options {
    display: flex;
    margin-bottom: -15px; 
    margin-left: 23%; 
    white-space: nowrap;
  }
  
  .granteSubvencione-options label {
    margin-right: 10px;
    margin-top: -0.5%; 
  }
  .granteSubvencione-options input[type="radio"] {
    margin-right: -2%;
    cursor: pointer;
  }
  .granteSubvencione-search-container {
    display: flex;
    align-items: center;
  }
  
  .granteSubvencione-search-container input[type="text"] {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10%;
  }
  
  .granteSubvencione-search-container button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .granteSubvencione-service-cards-container {
    display: flex;
    justify-content: center;
  }
  
  .granteSubvencione-service-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .granteSubvencione-service-card {
    width: calc(100% - 40px);
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffffce;
    color: #333;
    transition: all 0.3s ease-in-out; ;
  }
  
  .granteSubvencione-service-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
  }
  .granteSubvencione-card-content {
    display: flex;
    align-items: center;
    margin-left: 3%;
  }
  .granteSubvencione-card-content h2{
    font-size: 20px;
    white-space: nowrap;
  }
  
  .granteSubvencione-card-icon {
    font-size: 40px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out; 
  }
  .granteSubvencione-card-icon:hover {
    transform: translateY(-5px); 
  }
  .granteSubvencione-arrow {
    font-size: 40px;
    margin-left: auto;
  }
  .linkcla::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    bottom: 18px;
    left: 6%;
    background-color: rgb(23, 52, 108);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  .linkcla:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    color: rgb(23, 52, 108);
  }
  
  .custom-alert p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .custom-alert button {
    background-color: rgb(23, 52, 108);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 45%;
    font-size: 16px;
  }
  
  .custom-alert button:hover {
    background-color: rgb(66, 90, 139);
  }